@import "../../style/_theme.scss";

.page-select {
  position: absolute;
  top: 0px;
  display: inline-block;
  margin: 0px;
  padding: $s-pad;
  width: 50%;
  list-style: none;
  background-color: $c-greylight;
  float:  left;
  z-index: 100;

  .ng-hide {
    font-size: 0;
  }

  .ng-hide-add,
  .ng-hide-remove {
    transition: all linear 300ms;
  }

  li {
    margin: 0px;
    color: $c-black;
    font-style: bolder;
    height: auto;

    &:hover {
      background-color: $c-grey;
      color: $c-greylight;
    }
  }
}

