<div class="dashboard">

  <page-select 
     pages="$ctrl.pages"
     show-all="$ctrl.pageSelectShowAll"
     selected="$ctrl.pageSelectSelected"
     handle-select="$ctrl.pageSelectHandleSelect">
  </page-select>

  <button 
    class="btn-new"
    ng-click="$ctrl.handleNew()">
    new 
  </button>

  <button 
    class="btn-del"
    ng-click="$ctrl.handleDelete($ctrl.pageEditorPage)">
    del 
  </button>


  <div class="marked"
    marked="$ctrl.pageEditorPage.content"> </div>

  <page-editor
    page="$ctrl.pageEditorPage" 
    handle-submit="$ctrl.pageEditorHandleSubmit">
  </page-editor>

</div>
