@import "../../style/_theme.scss";

.page-editor {
  textarea {
    height: 25vh;
    font-size: 1em;
    background-color: $c-black;
    color: $c-white;
    padding: $s-pad;
  }

  input {
    display: inline-block;
    width: 50%;
    padding: $s-pad;
  }

  label, input[type="checkbox"]  {
    display: inline-block;
    width: auto;
  }

  input[type="checkbox"]  {
    display: none;
  }

  input[type="checkbox"] + label{
    @extends input;
    width: 49% ;
    float: right;
    margin-bottom: $s-pad;
    font-size: 1em;
    font-family: monospace;
    font-style: normal;
    padding: ($s-pad * 0.5) $s-pad ;
    background: $c-error;
    &::before {
      content: "show in nav";
    }
  }

  input[type="checkbox"]:checked + label{
    background: $c-success;
    &::before {
    text-align: center;
      content: "hide from nav";
      margin-left: auto;
      margin-right: auto;
    }
  }

}
